services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx
    depends_on:
      - wordpress
    ports:
      - 443:443
    restart: unless-stopped
    volumes:
      - wordpress:/var/www/html
    networks:
      - network

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    restart: unless-stopped
    networks:
      - network
    volumes:
      - mariadb:/var/lib/mysql
    env_file:
      - .env

  wordpress:
    container_name: wordpress
    depends_on:
      - mariadb
    restart: unless-stopped
    build: ./requirements/wordpress
    networks:
      - network
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env

networks:
  network:
    driver: bridge

volumes:
  mariadb:
  wordpress:
